/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
} */


 /* a {
    text-decoration: none;
    color: white !important;
    font-weight: 500; 
 } */

 /* a:hover {
    color: #d33682 !important;
    text-decoration: none !important;
 } */




.stDownloadButton button {
    background-color: #f7f7f7;
    color: #2c2c2c;
    border: 1.5px solid #222;
    border-radius: 6px;
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    box-shadow: 2px 2px 0 #bbb;
    transition: all 0.2s ease-in-out;
}

.stDownloadButton button:hover {
    background-color: #1a1a1a !important;
    color: #39ff14 !important; /* Neon green */
    border: 1.5px solid #39ff14 !important;
    box-shadow: 2px 2px 8px rgba(57, 255, 20, 0.4);
    transform: scale(1.02);
    cursor: pointer;
}



.st-emotion-cache-pdqzwu {
    margin-left: 3rem;
}